<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Cart</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="bg-gray-300">
    <!-- Navbar -->
    <header class="bg-black text-white p-3 flex justify-between items-center">
      <div>
        <h1 class="text-2xl font-bold italic">Shop Mee...</h1>
      </div>
      <div class="flex justify-center items-center">
        <!-- Desktop Links -->
        <div class="hidden md:flex">
          <div class="flex gap-6 justify-center items-center">
            <a href="/" class="hover:text-gray-400 cursor-pointer font-semibold"
              >Home</a
            >
            <a
              href="/products/getproducts"
              class="hover:text-gray-400 cursor-pointer font-semibold"
              >Products</a
            >
            <a
              href="/products/cart"
              class="hover:text-gray-400 cursor-pointer font-semibold"
              >Cart</a
            >
            <p class="hover:text-gray-400 cursor-pointer font-semibold">
              Contact
            </p>
            <p class="hover:text-gray-400 cursor-pointer font-semibold">
              About
            </p>
          </div>
        </div>

        <!-- Hamburger Button -->
        <div id="menu-btn" class="flex flex-col md:hidden cursor-pointer">
          <span class="w-6 h-1 m-0.5 rounded bg-white"></span>
          <span class="w-6 h-1 m-0.5 rounded bg-white"></span>
          <span class="w-6 h-1 m-0.5 rounded bg-white"></span>
        </div>
      </div>
    </header>

    <!-- Mobile Menu (Hidden by default) -->
    <div
      id="mobile-menu"
      class="hidden w-full flex justify-end items-center bg-slate-400"
    >
      <div
        class="flex flex-col gap-2 justify-center items-center border p-2 text-white font-bold w-full"
      >
        <a
          href="/"
          class="hover:text-gray-400 underline cursor-pointer font-semibold"
          >Home</a
        >
        <a
          href="/products/getproducts"
          class="hover:text-gray-400 underline cursor-pointer font-semibold"
          >Products</a
        >
        <a
          href="/products/cart"
          class="hover:text-gray-400 underline cursor-pointer font-semibold"
          >Cart</a
        >
        <p class="hover:text-gray-400 underline cursor-pointer font-semibold">
          Contact
        </p>
        <p class="hover:text-gray-400 underline cursor-pointer font-semibold">
          About
        </p>
      </div>
    </div>

    <div class="h-screen bg-black flex justify-center items-start">
      <div
        class="bg-zinc-200 w-full min-h-screen flex flex-wrap gap-4 p-4 justify-start rounded-lg shadow-lg"
      >
        <% if (cart.length === 0) { %>
        <p class="text-center text-lg text-gray-600 w-full">
          Your cart is empty 😢
        </p>
        <% } else { %> <% cart.slice().reverse().forEach(function(product){ %>
        <div
          class="w-[160px] hover:scale-105 cursor-pointer overflow-hidden transition rounded-lg"
        >
          <div class="h-[150px] w-full overflow-hidden">
            <img
              class="object-cover w-full h-full"
              src="<%= product.image %>"
              alt="<%= product.name %>"
            />
          </div>
          <div
            class="p-3 flex h-20 justify-between items-center font-semibold text-sm bg-[<%= product.panelColor %>]"
          >
            <div>
              <p class="font-mono text-[<%= product.textColor %>]">
                <%= product.name %>
              </p>
              <p class="font-mono text-[<%= product.textColor %>]">
                ₹<%= product.price %>
              </p>
            </div>
            <div class="flex flex-col">
              <button
                class="bg-green-500 text-xs text-white px-2 py-0.5 rounded mt-2 hover:bg-green-600 transition"
              >
                Buy Now
              </button>
              <a
                href="/products/removefromcart/<%= product._id %>"
                class="bg-red-500 text-xs text-white px-2 py-0.5 rounded mt-2 hover:bg-red-600 transition"
              >
                Remove
              </a>
            </div>
          </div>
        </div>
        <% }) %> <% } %>
      </div>
    </div>
    <!-- Toggle Menu -->
    <script>
      const menuBtn = document.getElementById("menu-btn");
      const mobileMenu = document.getElementById("mobile-menu");

      menuBtn.addEventListener("click", () => {
        mobileMenu.classList.toggle("hidden");
      });
    </script>
  </body>
</html>
